@model MvcMovie.Models.Actors

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actors</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Skill)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Birthplace)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthplace)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Networth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Networth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
