@model MvcMovie.Models.ActorSkillViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Actors" asp-action="Index" method="get">
    <p>
        <select asp-for="skill" asp-items="Model.Skills">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actors[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors[0].Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors[0].Networth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actors[0].Birthplace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Actors)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Networth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthplace)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
